@model IEnumerable<MovieStoreMVC.Models.Movie>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<a asp-action="Create">Erstelle neuen Film</a>"

<partial name="_ProductWithLowestPrice" />

<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Genre)
                </th>

                <!-- Diese Column repräsentiert die Button für Bearbeiten, Löschen und Details -->
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Movie currentMovie in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => currentMovie.Title)
                    </td>
                    <td>
                        @*@currentMovie.Description*@
                        @Html.DisplayFor(modelItem => currentMovie.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => currentMovie.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => currentMovie.Genre)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@currentMovie.Id">Details</a>"
                        <a asp-action="Edit" asp-route-id="@currentMovie.Id">Bearbeiten</a>"
                        <button asp-controller="MovieStore" asp-action="Buy" asp-route-id="@currentMovie.Id">Buy</button>
                        
                        @*<a asp-page="./Details" asp-route-id="@currentMovie.Id">Details</a> |*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>

